<div class="row">
  <div class="col-2">
    <div class="card">
      <h4>joao</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>jose</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>maria</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>ana</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>joao</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>jose</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>maria</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>ana</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>joao</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>jose</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>maria</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>ana</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>joao</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>jose</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>maria</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>ana</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>joao</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <h4>jose</h4>
      <p>19 99999-9999</p>
    </div>
  </div>
</div>
