.row{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card{
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 1em lightgray;
    padding: 10px;
    margin: 20px;
  }
}

.green{
  background-color: chartreuse;
}

.white{
  background-color: azure;
}